<body>
    <h1>Troca de senha</h1>
    <p>Olá,</p>
    <p>
        Foi solicitada a <strong>recuperação de senha</strong> para este usuário, se não foi você quem solicitou
        desconsidere esta mensagem e continue utilizando a sua senha atual.
    </p>
    <span></span>
    <h2>{{token}}</h2>
    <span></span>
    <p>Para recuperar sua senha acesse o link: <a href="youtube.com">Esqueci minha senha</a>.</p>
    <span></span>
    <p>O token expira em 10 minutos. Este é um e-mail automático, por favor não responder.</p>
</body>
